.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 2pox 0;
}

.search-input {
  width: 280px;
  padding: 10px 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: gray;
  box-shadow: rgb(90, 78, 78);
}

.search-btn {
  padding: 10px 18px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  background-color: gray;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-btn:hover {
  background-color:black;
  transform: scale(1.05);
}

.search-btn:active {
  transform: scale(0.95);
}
